div.main{
	margin:0 auto;
	max-width:800px;
}
body {
	
	font-family:Verdana, Arial, sans-serif;
	background: url(img/bg-texture.jpg);
	margin:0;
	font-size:10px;
	color: #faf3bc;
}
.logo{
	background: url(img/logo.gif);
	text-indent:-3000px;
	overflow:hidden;
	display:block;
	width:319px;
	height:177px;	
	float: left;
}
nav {
	display:block;
	width:470px;
	float:right;
	padding: 150px 0 0 0;
}
nav ul {
	left:320px;
	top:150px;
	
	padding:0;
	margin:0;
	text-align:center;
	list-style:none;
	
}
nav li {
	float: left;
	padding: 0 5px;
}

.clearboth {
	clear: both;
}

.tag_line {
	padding: 10px 0;
	font-size: 24px;
}

.row:after {
    clear:both;
    content:" ";
    display:block;
}

form span {
	border-radius: 20px;
	margin-left:15px;
	padding: 8px 35px;
	background: #faf3bc;
	color:#420600;
}
form span.valid {
	background-color :#c0ce51;
	color: #faf3bc;
}
form span.error {
	background-color:#b0240f;
	color: #faf3bc;
}